# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\steve\OneDrive\Desktop\Clases UPC\4° cuatri\Corte 1\Base de datos\rendimiento_manejadores\baseDatos\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
